@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-white;
  @apply dark:bg-black;
  /* --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace; */
}
